@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Basier Circle";
  font-display: swap;
  font-weight: 400;
  src: url("https://cdn.revolut.com/media/fonts/BasierCircle-Regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "Basier Circle";
  font-display: swap;
  font-weight: 500;
  src: url("https://cdn.revolut.com/media/fonts/BasierCircle-Medium.woff2")
    format("woff2");
}
@font-face {
  font-family: "Basier Circle";
  font-display: swap;
  font-weight: 600;
  src: url("https://cdn.revolut.com/media/fonts/BasierCircle-SemiBold.woff2")
    format("woff2");
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
